{% extends 'base.html.twig' %}

{% block title %}Log in!
{% endblock %}

{% block body %}
	<div class="container mt-5 mb-5 p-5 bg-white" style="box-shadow: 1px 2px 8px 1px ;">
		<form method="post">
			{% if error %}
				<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
			{% endif %}

			{% if app.user %}
				<div class="mb-3">
					You are logged in as
					{{ app.user.userIdentifier }},
					<a href="{{ path('app_logout') }}">Logout</a>
				</div>
			{% endif %}

			<h1 class=" text-center h3 mb-3 font-weight-normal">Vous êtes déjà inscrit ! connectez vous</h1>
			<div class="form-outline mb-4">
				<label class="form-label" for="inputEmail">Email</label>
				<input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
			</div>
			<div class="form-outline mb-4">
				<label class="form-label" for="inputPassword">Password</label>
				<input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
			</div>

			{# ///////////////////////////////////////// #}
			<!-- 2 column grid layout for inline styling -->
			<div class="row ">
				<div
					class="col-6 me-0">
					<!-- Checkbox -->
					<div class="form-check">
						<input class="form-check-input" type="checkbox" value="" id="form2Example31" checked/>
						<label class="form-check-label" for="form2Example31">
							Se souvenir de moi
						</label>
					</div>
				</div>

				{# <div
													class="col-6">
													<!-- Simple link -->
													<a href="#!">Mot de passe oublié?</a>
												</div> #}
			</div>

			{# //////////////////////////////////////////// #}
			<input
			type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

			{#
																																																																																									        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
																																																																																									        See https://symfony.com/doc/current/security/remember_me.html
																																																																																									
																																																																																									        <div class="checkbox mb-3">
																																																																																									            <label>
																																																																																									                <input type="checkbox" name="_remember_me"> Remember me
																																																																																									            </label>
																																																																																									        </div>
																																																																																									    #}

			<div class="d-flex justify-content-center mt-5">
				<button class="btn btn-dark btn-lg" type="submit">
					Se connecter
				</button>
			</div>
		</form>
	</div>
{% endblock %}
