{% extends 'base.html.twig' %}

{% block title %}Register
{% endblock %}

{% block body %}
	<div class="container mt-5 mb-5 p-5 bg-white" style="box-shadow: 1px 2px 8px 1px ;">

		<h1 class="text-center m-4">Inscription</h1>

		<div class="d-flex justify-content-center">

			{{ form_errors(registrationForm) }}

			{{ form_start(registrationForm) }}
			{{ form_row(registrationForm.lastname,{"attr": {"class": "row"}}) }}
			{{ form_row(registrationForm.firstname,{"attr": {"class": "row"}}) }}
			{{ form_row(registrationForm.phone,{"attr": {"class": "row"}}) }}
			{{ form_row(registrationForm.email,{"attr": {"class": "row"}}) }}
			{{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
			{{ form_row(registrationForm.agreeTerms) }}

			<div class="d-grid gap-2 col-12 mx-auto">
				<button type="submit" class="btn btn-dark">Valider</button>
				{{ form_end(registrationForm) }}
			</div>

		</div>
	</div>
{% endblock %}
