* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

@import url('https://fonts.googleapis.com/css2?family=Grape+Nuts&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grape+Nuts&family=Pacifico&display=swap');


body {
    /* background-image: url("../Images/studio.jpg"); */
    background: gray;
    /* background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center; */

}