* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Grape+Nuts&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grape+Nuts&family=Pacifico&display=swap');

/* .navbar.navbar-expand-lg {
    background-color: gray;
} */

.navbar-light .navbar-nav .nav-link {
    /* color: white; */
    font-size: 25px;
    color: black;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
}

.navbar-light .navbar-nav .nav-link .nav-link .active {
    font-weight: 500;
    font-size: 30px;
    color: black;
}



/* accueil */

p.text-dark {
    font-size: 22px;
    text-align: justify;

}


/* ///////////////////////// */

/* style carte programme */
.fa-thin .fa-plus {
    color: black;
    text-decoration: none;
}