<form method="post" action="{{ path('app_program_delete', {'id': program.id}) }}" onsubmit="return confirm('Etes vous sur de vouloir supprimer ce programme?');">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ program.id) }}">
	<button class="btn btn-danger mt-4">Supprimer</button>
</form>
