{% extends 'base.html.twig' %}

{% block title %}Edit Program
{% endblock %}

{% block body %}
	<div class="container mt-5 mb-5 p-5 bg-white" style="box-shadow: 1px 2px 8px 1px gray;">

		<h1>Edit Program</h1>

		{{ include('program/_form.html.twig', {'button_label': 'Update'}) }}

		<a href="{{ path('app_program_index') }}">back to list</a>

		{{ include('program/_delete_form.html.twig') }}
	</div>
{% endblock %}
