{% extends 'base.html.twig' %}

{% block title %}Program index
{% endblock %}

{% block body %}
	<div class="container mt-5 mb-5 p-5 bg-white" style="box-shadow: 1px 2px 8px 1px gray;">

		<h1 class='mb-5'>Listes des programmes</h1>

		<table class="table">
			<thead>
				<tr>
					<th>Id</th>
					<th>Name</th>
					{# <th>Created_at</th>
																																																						                <th>Updated_at</th> #}
					<th>actions</th>
				</tr>
			</thead>
			<tbody>
				{% for program in programs %}
					<tr>
						<td>{{ program.id }}</td>
						<td>{{ program.name }}</td>
						{# <td>{{ program.createdAt ? program.createdAt|date('Y-m-d H:i:s') : '' }}</td>
																																																												<td>{{ program.updatedAt ? program.updatedAt|date('Y-m-d H:i:s') : '' }}</td> #}
						<td>
							<a class="btn btn-outline-dark" href="{{ path('app_program_show', {'id': program.id}) }}">Consulter</a>
							<a class="btn btn-outline-dark" href="{{ path('app_program_edit', {'id': program.id}) }}">Modifier</a>
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="5">Aucun programme trouvé</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

		<a class="btn btn-dark" href="{{ path('app_program_new') }}">Créer un nouveau programme</a>
	</div>
{% endblock %}
