{% extends 'base.html.twig' %}

{% block title %}Nouveau programme
{% endblock %}

{% block body %}
	<div class="container  mt-5 mb-5 p-5 bg-white" style="box-shadow: 1px 2px 8px 1px gray;">
		<h1 class="text-center mb-5">Créer un nouveau programme</h1>
		<div class='row'>
			<div class="d-flex justify-content-center">
				{{ form_start(form) }}
				<div class="row">
					<div class="col">
						{{ form_row(form.name) }}
					</div>
					<div class="col">
						{{ form_row(form.categorie) }}
					</div>
				</div>
				{# <button class="btn btn-dark me-2" style="width:150px;">{{ button_label|default('Sauvgarder') }}</button> #}
				{{ form_end(form) }}
				{# {{ include('program/_form.html.twig') }} #}
				<div class="ms-5">Clicker pour ajouter un exercice (<a style="text-decoration:none;" onclick="console.log('coucou');document.getElementById('formExo').style.display='';">
						<i class="fa-thin fa-plus" style="color:black;"></i>
					</a>)
				</div>
			</div>
			{# <button class="btn btn-dark me-2" style="width:150px;">{{ button_label|default('Sauvgarder') }}</button> #}

		</div>
		<div id="formExo" class="d-flex justify-content-center m-5  p-5" style="border-radius:15px 50px; border-style: solid; border-color: black; display:none!important;">
			<div class="row">
				{{ form_start(form3) }}
				{{ form_row(form3) }}
				{{ form_end(form3) }}
			</div>
			{# <button class="btn btn-dark me-2" style="width:150px;">{{ button_label|default('Sauvgarder') }}</button> #}


			{{ form_start(form2) }}

			<div class="row">
				<div
					class="col">{# {{ form_row(form2.exercice) }} #}
				</div>
				<div
					class="col">{# {{ form_row(form2.repetitionNumber) }} #}
				</div>
				<div
					class="col">{# {{ form_row(form2.setNumber) }} #}
				</div>
				<div
					class="col">{# {{ form_row(form2.duration) }} #}
				</div>
				<div
					class="col">{# {{ form_row(form2.exercicePosition) }} #}
				</div>
			</div>

			{{ form_end(form2) }}

		</div>
		<div class="ms-5">Clicker pour ajouter un exercice (<a style="text-decoration:none;" onclick="console.log('coucou');document.getElementById('formExo').style.display='';">
				<i class="fa-thin fa-plus" style="color:black;"></i>
			</a>)
		</div>

		<div class="d-flex justify-content-center mt-5">
			<button class="btn btn-outline-dark me-2 mb-3" style="width:250px;">{{ button_label|default('Enregister le programme') }}</button>
		</div>


		{% if is_granted ("ROLE_ADMIN") %}
			<a class="btn btn-dark mt-5" style="width:150px;" href="{{ path('app_program_index') }}">Retour à la liste</a>
		{% endif %}

	</div>
{% endblock %}
