{% extends 'base.html.twig' %}

{% block title %}Nouveau programme
{% endblock %}

{% block body %}
	<div class="container  mt-5 mb-5 p-5 bg-white" style="box-shadow: 1px 2px 8px 1px gray;">
		{{ form_start(form) }}
		<h1 class="text-center m-4">Créer un nouveau programme</h1>
		<div class="d-flex justify-content-center">
			<div class="row mb-3">{{ form_row(form.name) }}</div>
			<div class="row mb-3">{{ form_row(form.categorie.id) }}</div>
			{# <div class="col">{{ form_row(form.)}}</div> #}
		</div>
		<div class="d-grid gap-2 col-6 mx-auto">
			<button class="btn btn-dark " type="submit">Suivant</button>
			{# <button class="btn btn-primary btn-lg" type="reset">Annuler</button> #}
		</div>
	</div>

	{# {{form_widget(form)}} #}


	{# {{ include('program/_form.html.twig') }} #}
</div>
{{ form_end(form) }}

{# {% if is is_granted ("ROLE_ADMIN") %} #}
<a class="btn btn-dark mt-5" style="width:150px;" href="{{ path('app_program_index') }}">
	Retour à la liste</a>
{# {% endif %} #}</div>{% endblock %}
