{% extends 'base.html.twig' %}

{% block title %}Nouveau programme
{% endblock %}

{% block body %}
	<div class="container  mt-5 mb-5  bg-white" style="box-shadow: 1px 2px 8px 1px gray;">
		<h4 class="text-end fs-6" style="color:black;">Bienvenue
			{{ app.user.lastname }}
			{{ app.user.firstname }}</h4>
		<h1 class="text-center m-4">Vos Programmes (<a style="text-decoration:none;" href="{{path('app_program_new')}}">
				<i class="fa-thin fa-plus" style="color:black;"></i>
			</a>)</h1>
		{# <pre>
																																																																																																																																																																																																																																																				{{ dump(programs) }}
																																																																																																																																																																																																																																																				</pre> #}

		<div
			class="row row-cols-1 row-cols-md-2 m-5">
			{# <div class="contenair-md justify-content-center ms-5 me-5"> #}
			{% for program in programs %}
				<div class="card mb-5 p-4 mx-4" style="width:33rem">
					<img src="https://placeholder.pics/svg/300x200" class="card-img-top" alt="...">
					<div class="card-body">
						<h5 class="card-title">{{program.name}}</h5>
						<p class="card-text">{{program.categorie}}</p>
						<a href="#" class="btn btn-dark">Clicker pour commencer</a>
					</div>
				</div>
				{# </div> #}
		{% else %}
			</div>
			<tr>
				<td class="text-center" colspan="6">Vous n'avez pas encore de programme</td>
			</tr>
		{% endfor %}
		{# <div class="d-grid gap-2 col-6 mx-auto mt-5">
																																																																																																																																																																																																																																																											<button class="btn btn-dark " type="submit" href="{{path('app_program_new')}}">Créer un nouveau programe</button>
																																																																																																																																																																																																																																																										</div> #}
	</div>
	{# {% if is is_granted ("ROLE_ADMIN") %} #}
	{# <a class="btn btn-dark mt-5" style="width:150px;" href="{{ path('app_program_index') }}">
																																																																																																																																																															Retour à la liste</a>{% endif %} #}
{% endblock %}
