{% extends 'base.html.twig' %}

{% block title %}Program
{% endblock %}

{% block body %}
	<div class="container mt-5 mb-5 p-5 bg-white" style="box-shadow: 1px 2px 8px 1px gray;">

		<h1>Program</h1>

		<table class="table">
			<tbody>
				<tr>
					{# <th>Id</th>
										<td>{{ program.id }}</td> #}
				</tr>
				<tr>
					<th>Name</th>
					<td>{{ program.name }}</td>
				</tr>
				{# <tr>
									<th>Created_at</th>
									<td>{{ program.createdAt ? program.createdAt|date('Y-m-d H:i:s') : '' }}</td>
								</tr>
								<tr>
									<th>Updated_at</th>
									<td>{{ program.updatedAt ? program.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
								</tr> #}
			</tbody>
		</table>

		<a href="{{ path('app_program_index') }}">back to list</a>

		<a href="{{ path('app_program_edit', {'id': program.id}) }}">edit</a>

		{{ include('program/_delete_form.html.twig') }}
	</div>
{% endblock %}
