{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}

{% block body %}
	<div class="container mt-5 mb-5 p-5 bg-white" style="box-shadow: 1px 2px 8px 1px gray; opacity:80%">
		<h1 class="text-center mb-5" style="letter-spacing: 20px;">
			<span style="color:#773f2c">S</span>port
			<span style="color:#773f2c">A</span>cademy</h1>

		<div class=" container p-3">
			<h2 class="text-dark">
				- Votre Compagnon de Fitness</h2>
			<p class="text-dark ms-4 mb-4">Bienvenue sur notre platforme, votre partenaire ideal pour sculpter votre corps et liberer votre esprit. Que vous soyez un athlète confirmé, un sportif du dimanche, ou que vous entamiez à peine votre parcours fitness, notre application est là pour vous accompagner
			</p>
			<h2 class="text-dark">- Personnalisation à la carte</h2>
			<p class="text-dark ms-4 mb-4">Avec notre application, vous avez le contrôle. Vous pouvez créer votre propre programme sportif, adaptéà vos besoins,vos envies et votre rythme de vie. Configurer vos séances de sport n'a jamais été aussi facile et intuitif. Dela musculation au yoga,de la course à pied à la natation, vous pouvez sélectionner parmi une large gamme d'exercices, définir vos propres objectifs et suivre vos progrés en temps réel.
			</p>

			<h2 class="text-dark">- Atteindre vos Objectifs</h2>
			<p class="text-dark ms-4 mb-4">Notre application s'engage à vous fournir des outils fiables et efficaces pour vous aider à atteindre vos objectifs, que ce soit pour améliorer votre condition physique, perdre du poids, gagner en force ou simplement pour vous sentir mieux dans votre corps.</p>

			<h2 class="text-dark">- Commencez Aujourd'hui</h2>
			<p class="text-dark ms-4 mb-4">Faites le premier pas vers une vie plus active et plus saine dès aujourd'hui. Téléchargez notre application,créez votre propre programme, et faites de chaque jour une étape vers votre bien-être.</p>

			<h2 class="text-dark">- Rejoignez notre Communauté</h2>
			<p class="text-dark ms-4 mb-4">Rejoignez notre communauté de sportifs passionnés. Ensemble, nous sommes plus forts. Ensemble, nous repoussons nos limites.</p>
			<h2 class="text-dark">- Bienvenue</h2>
			<p class="text-dark ms-4 mb-4">Bienvenue dans le monde du sport à votre mesure.Bienvenue dans votre application.</p>

			<div class="d-grid gap-2">
				<button class="btn btn-dark" type="button">Pas encore inscrit ?</button>
			</div>
		</div>
	</div>


</div>{% endblock %}
