<form method="post" action="{{ path('app_exercice_type_delete', {'id': exercice_type.id}) }}" onsubmit="return confirm('Etes vous sur de vouloir supprimer ce type d'exercice?');">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ exercice_type.id) }}">
	<button class="btn btn-danger mt-4">Supprimer</button>
</form>
