{% extends 'base.html.twig' %}

{% block title %}Edit ExerciceType
{% endblock %}

{% block body %}
	<div class="container mt-5 mb-5 p-5 bg-white" style="box-shadow: 1px 2px 8px 1px gray;">

		<h1>Edit ExerciceType</h1>

		{{ include('exercice_type/_form.html.twig', {'button_label': 'Update'}) }}

		<a href="{{ path('app_exercice_type_index') }}">back to list</a>

		{{ include('exercice_type/_delete_form.html.twig') }}
	</div>
{% endblock %}
