{% extends 'base.html.twig' %}

{% block title %}ExerciceType index
{% endblock %}

{% block body %}
	<div class="container mt-5 mb-5 p-5 bg-white" style="box-shadow: 1px 2px 8px 1px gray;">

		<h1>ExerciceType index</h1>

		<table class="table">
			<thead>
				<tr>
					<th>Id</th>
					<th>Name</th>
					<th>TechnicalName</th>
					<th>Created_at</th>
					<th>Updated_at</th>
					<th>actions</th>
				</tr>
			</thead>
			<tbody>
				{% for exercice_type in exercice_types %}
					<tr>
						<td>{{ exercice_type.id }}</td>
						<td>{{ exercice_type.name }}</td>
						<td>{{ exercice_type.technicalName }}</td>
						<td>{{ exercice_type.createdAt ? exercice_type.createdAt|date('Y-m-d H:i:s') : '' }}</td>
						<td>{{ exercice_type.updatedAt ? exercice_type.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
						<td>
							<a href="{{ path('app_exercice_type_show', {'id': exercice_type.id}) }}">show</a>
							<a href="{{ path('app_exercice_type_edit', {'id': exercice_type.id}) }}">edit</a>
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="6">no records found</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

		<a href="{{ path('app_exercice_type_new') }}">Create new</a>
	</div>
{% endblock %}
