{% extends 'base.html.twig' %}

{% block title %}New ExerciceType
{% endblock %}

{% block body %}
	<div class="container mt-5 mb-5 p-5 bg-white" style="box-shadow: 1px 2px 8px 1px gray;">

		<h1 class="mb-5">Create new ExerciceType</h1>

		{{ include('exercice_type/_form.html.twig') }}

		<a href="{{ path('app_exercice_type_index') }}">back to list</a>
		{# <a href="{{ path('app_exercice_type_index') }}">back to list</a> #}

	</div>
{% endblock %}
