{% extends 'base.html.twig' %}

{% block title %}ExerciceType
{% endblock %}

{% block body %}
	<div class="container mt-5 mb-5 p-5 bg-white" style="box-shadow: 1px 2px 8px 1px gray;">

		<h1>ExerciceType</h1>

		<table class="table">
			<tbody>
				<tr>
					<th>Id</th>
					<td>{{ exercice_type.id }}</td>
				</tr>
				<tr>
					<th>Name</th>
					<td>{{ exercice_type.name }}</td>
				</tr>
				<tr>
					<th>TechnicalName</th>
					<td>{{ exercice_type.technicalName }}</td>
				</tr>
				<tr>
					<th>Created_at</th>
					<td>{{ exercice_type.createdAt ? exercice_type.createdAt|date('Y-m-d H:i:s') : '' }}</td>
				</tr>
				<tr>
					<th>Updated_at</th>
					<td>{{ exercice_type.updatedAt ? exercice_type.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
				</tr>
			</tbody>
		</table>

		<a href="{{ path('app_exercice_type_index') }}">back to list</a>

		<a href="{{ path('app_exercice_type_edit', {'id': exercice_type.id}) }}">edit</a>

		{{ include('exercice_type/_delete_form.html.twig') }}
	</div>
{% endblock %}
