<form method="post" action="{{ path('app_program_type_delete', {'id': program_type.id}) }}" onsubmit="return confirm('Etes vous sur de vouloir supprimer ce type de programme?');">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ program_type.id) }}">
	<button class="btn btn-danger mt-4">Supprimer</button>
</form>
