{% extends 'base.html.twig' %}

{% block title %}Modification type programme
{% endblock %}

{% block body %}
	<div class="container mt-5 mb-5 p-5 bg-white" style="box-shadow: 1px 2px 8px 1px gray;">

		<h1>Modifier un type de Programme</h1>

		{{ include('program_type/_form.html.twig', {'button_label': 'Enregistrer'}) }}

		<a class="btn btn-dark" href="{{ path('app_program_type_index') }}">Retour à la liste</a>

		{{ include('program_type/_delete_form.html.twig') }}
	</div>
{% endblock %}
