{% extends 'base.html.twig' %}

{% block title %}ProgramType index
{% endblock %}

{% block body %}
	<div class="container mt-5 mb-5 p-5 bg-white" style="box-shadow: 1px 2px 8px 1px gray;">

		<h1>ProgramType index</h1>

		<table class="table">
			<thead>
				<tr>
					<th>Id</th>
					<th>Name</th>
					<th>Description</th>
					{# <th>Created_at</th>
									                <th>Updated_at</th> #}
					<th>actions</th>
				</tr>
			</thead>
			<tbody>
				{% for program_type in program_types %}
					<tr>
						<td>{{ program_type.id }}</td>
						<td>{{ program_type.name }}</td>
						<td>{{ program_type.description }}</td>
						<td>{{ program_type.createdAt ? program_type.createdAt|date('Y-m-d H:i:s') : '' }}</td>
						<td>{{ program_type.updatedAt ? program_type.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
						<td>
							<a href="{{ path('app_program_type_show', {'id': program_type.id}) }}">show</a>
							<a href="{{ path('app_program_type_edit', {'id': program_type.id}) }}">edit</a>
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="6">no records found</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

		<a href="{{ path('app_program_type_new') }}">Create new</a>
	</div>
{% endblock %}
