{% extends 'base.html.twig' %}

{% block title %}ProgramType
{% endblock %}

{% block body %}
	<div class="container mt-5 mb-5 p-5 bg-white" style="box-shadow: 1px 2px 8px 1px gray;">

		<h1>ProgramType</h1>

		<table class="table">
			<tbody>
				<tr>
					<th>Id</th>
					<td>{{ program_type.id }}</td>
				</tr>
				<tr>
					<th>Name</th>
					<td>{{ program_type.name }}</td>
				</tr>
				<tr>
					<th>Description</th>
					<td>{{ program_type.description }}</td>
				</tr>
				<tr>
					<th>Created_at</th>
					<td>{{ program_type.createdAt ? program_type.createdAt|date('Y-m-d H:i:s') : '' }}</td>
				</tr>
				<tr>
					<th>Updated_at</th>
					<td>{{ program_type.updatedAt ? program_type.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
				</tr>
			</tbody>
		</table>

		<a href="{{ path('app_program_type_index') }}">back to list</a>

		<a href="{{ path('app_program_type_edit', {'id': program_type.id}) }}">edit</a>

		{{ include('program_type/_delete_form.html.twig') }}
	</div>
{% endblock %}
