<form method="post" action="{{ path('app_exercice_session_sport_delete', {'id': exercice_session_sport.id}) }}" onsubmit="return confirm('Etes vous sur de vouloir supprimer cet objet?');">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ exercice_session_sport.id) }}">
	<button class="btn btn-danger mt-4">Supprimer</button>
</form>
