{% extends 'base.html.twig' %}

{% block title %}ExerciceSessionSport index
{% endblock %}

{% block body %}
	<div class="container mt-5 mb-5 p-5 bg-white" style="box-shadow: 1px 2px 8px 1px gray;">

		<h1>ExerciceSessionSport index</h1>

		<table class="table">
			<thead>
				<tr>
					<th>Id</th>
					<th>StartDate</th>
					<th>EndDate</th>
					<th>Created_at</th>
					<th>Updated_at</th>
					<th>actions</th>
				</tr>
			</thead>
			<tbody>
				{% for exercice_session_sport in exercice_session_sports %}
					<tr>
						<td>{{ exercice_session_sport.id }}</td>
						<td>{{ exercice_session_sport.startDate ? exercice_session_sport.startDate|date('Y-m-d H:i:s') : '' }}</td>
						<td>{{ exercice_session_sport.endDate ? exercice_session_sport.endDate|date('Y-m-d H:i:s') : '' }}</td>
						<td>{{ exercice_session_sport.createdAt ? exercice_session_sport.createdAt|date('Y-m-d H:i:s') : '' }}</td>
						<td>{{ exercice_session_sport.updatedAt ? exercice_session_sport.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
						<td>
							<a href="{{ path('app_exercice_session_sport_show', {'id': exercice_session_sport.id}) }}">show</a>
							<a href="{{ path('app_exercice_session_sport_edit', {'id': exercice_session_sport.id}) }}">edit</a>
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="6">no records found</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

		<a href="{{ path('app_exercice_session_sport_new') }}">Create new</a>
	</div>
{% endblock %}
