{% extends 'base.html.twig' %}

{% block title %}New ExerciceSessionSport
{% endblock %}

{% block body %}
	<div class="container mt-5 mb-5 p-5 bg-white" style="box-shadow: 1px 2px 8px 1px gray;">

		<h1 class="mb-5">Create new ExerciceSessionSport</h1>

		{{ include('exercice_session_sport/_form.html.twig') }}

		<a href="{{ path('app_exercice_session_sport_index') }}">back to list</a>
	</div>
{% endblock %}
