{% extends 'base.html.twig' %}

{% block title %}ExerciceSessionSport
{% endblock %}

{% block body %}
	<div class="container mt-5 mb-5 p-5 bg-white" style="box-shadow: 1px 2px 8px 1px gray;">

		<h1>ExerciceSessionSport</h1>

		<table class="table">
			<tbody>
				<tr>
					<th>Id</th>
					<td>{{ exercice_session_sport.id }}</td>
				</tr>
				<tr>
					<th>StartDate</th>
					<td>{{ exercice_session_sport.startDate ? exercice_session_sport.startDate|date('Y-m-d H:i:s') : '' }}</td>
				</tr>
				<tr>
					<th>EndDate</th>
					<td>{{ exercice_session_sport.endDate ? exercice_session_sport.endDate|date('Y-m-d H:i:s') : '' }}</td>
				</tr>
				<tr>
					<th>Created_at</th>
					<td>{{ exercice_session_sport.createdAt ? exercice_session_sport.createdAt|date('Y-m-d H:i:s') : '' }}</td>
				</tr>
				<tr>
					<th>Updated_at</th>
					<td>{{ exercice_session_sport.updatedAt ? exercice_session_sport.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
				</tr>
			</tbody>
		</table>

		<a href="{{ path('app_exercice_session_sport_index') }}">back to list</a>

		<a href="{{ path('app_exercice_session_sport_edit', {'id': exercice_session_sport.id}) }}">edit</a>

		{{ include('exercice_session_sport/_delete_form.html.twig') }}
	</div>
{% endblock %}
