<form method="post" action="{{ path('app_session_sport_delete', {'id': session_sport.id}) }}" onsubmit="return confirm('Etes vous sur de vouloir supprimer cette session de sportt?');">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ session_sport.id) }}">
	<button class="btn btn-danger mt-4">Supprimer</button>
</form>
