{% extends 'base.html.twig' %}

{% block title %}New SessionSport
{% endblock %}

{% block body %}
	<div class="container  mt-5 mb-5 p-5 bg-white" style="box-shadow: 1px 2px 8px 1px gray;">
		<h1 class="mb-5">Créer une nouvelle session de Sport</h1>

		{{ include('session_sport/_form.html.twig') }}

		<a href="{{ path('app_session_sport_index') }}">Retour à la liste</a>
	</div>
{% endblock %}
