{% extends 'base.html.twig' %}

{% block title %}SessionSport
{% endblock %}

{% block body %}
	<div class="container mt-5 mb-5 p-5 bg-white" style="box-shadow: 1px 2px 8px 1px gray;">

		<h1>SessionSport</h1>

		<table class="table">
			<tbody>
				<tr>
					<th>Id</th>
					<td>{{ session_sport.id }}</td>
				</tr>
				<tr>
					<th>Start_date</th>
					<td>{{ session_sport.startDate ? session_sport.startDate|date('Y-m-d H:i:s') : '' }}</td>
				</tr>
				<tr>
					<th>End_date</th>
					<td>{{ session_sport.endDate ? session_sport.endDate|date('Y-m-d H:i:s') : '' }}</td>
				</tr>
				<tr>
					<th>Created_at</th>
					<td>{{ session_sport.createdAt ? session_sport.createdAt|date('Y-m-d H:i:s') : '' }}</td>
				</tr>
				<tr>
					<th>Updated_at</th>
					<td>{{ session_sport.updatedAt ? session_sport.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
				</tr>
			</tbody>
		</table>

		<a href="{{ path('app_session_sport_index') }}">back to list</a>

		<a href="{{ path('app_session_sport_edit', {'id': session_sport.id}) }}">edit</a>

		{{ include('session_sport/_delete_form.html.twig') }}
	</div>
{% endblock %}
