<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>
			{% block title %}Sport Academy
			{% endblock %}
		</title>
		<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">

		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
			<link rel="stylesheet" href="{{asset('CSS/body.css')}}">
			<link rel="stylesheet" href="{{asset('CSS/navbar.css')}}">
			<script src="https://kit.fontawesome.com/ebfbcc4289.js" crossorigin="anonymous"></script>

		{% endblock %}
	</head>
	<body>
		{{ include ("navbar.html.twig") }}
		<div class="container p-4"> {% block body %}{% endblock %}
			</div>
			{# {{ include ("footer.html.twig") }} #}

		</body>

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}

	</html>
