<div class="container-fluid">

	<footer class="text-center text-lg-start" style="background-color: #db6930;">
		{# <div class="container d-flex justify-content-center p-5">
					<button type="button" class="btn btn-primary btn-lg btn-floating mx-2" style="background-color: #54456b;">
						<i class="fab fa-facebook-f"></i>
					</button>
					<button type="button" class="btn btn-primary btn-lg btn-floating mx-2" style="background-color: #54456b;">
						<i class="fab fa-youtube"></i>
					</button>
					<button type="button" class="btn btn-primary btn-lg btn-floating mx-2" style="background-color: #54456b;">
						<i class="fab fa-instagram"></i>
					</button>
					<button type="button" class="btn btn-primary btn-lg btn-floating mx-2" style="background-color: #54456b;">
						<i class="fab fa-twitter"></i>
					</button>
				</div> #}

		<!-- Copyright -->
			<div class="text-center text-white p-3" style="background-color: rgba(0, 0, 0, 0.2);"> © 2020 Copyright:
			<a class="text-white" href="https://mdbootstrap.com/">MDBootstrap.com</a>
		</div>
		<!-- Copyright -->
	</footer>

</div>
<!-- End of .container -->
