<nav class="navbar navbar-expand-lg bg-light">
	<div class="container">
		<a class="navbar-brand" href="#">
			<img class="img-fluid-logo" src={{asset("Images/logo2.png")}} style="width:4rem" alt="">
		</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			{% if is_granted ("ROLE_USER") %}
				<ul class="navbar-nav navbar-blak">
					<li class="nav-item">
						<a class="nav-link active" aria-current="page" href="#">MODE SPORT</a>
					</li>
				</ul>
			{% elseif is_granted ("ROLE_ADMIN") %}
				<ul class="navbar-nav navbar-blak">
					<li class="nav-item">
						<a class="nav-link active" aria-current="page" href="#">ADMIN</a>
					</li>
				</ul>
			{% endif %}

			<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
				{% if is_granted ("ROLE_USER") %}
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
							<i class="fas fa-user fa-fw"></i>
						</a>
						<ul class="dropdown-menu">
							<li>
								<a class="dropdown-item" href="{{path("app_program_user")}}">Mes Programmes</a>
							</li>
							<li>
								<a class="dropdown-item" href="{{path("app_logout")}}">Deconnexion</a>
							</li>
							<li><hr class="dropdown-divider"></li>
							<li>
								<a class="dropdown-item" href="{{path("app_profil")}}">Mon Profil</a>
							</li>
						</ul>
					</li>
				{% else %}
					<li class="nav-item">
						<a class="nav-link" aria-current="page" href="{{path("app_register")}}">Créer un compte</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{path("app_login")}}">Se connecter</a>
					</li>
				{% endif  %}

				<li class="nav-item">
					<a
						class="nav-link">{# <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-person-circle" viewbox="0 0 16 16">
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																												<path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																												<path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																											</svg> #}
					</a>
				</li>
			</ul>

			{# <form class="d-flex" role="search">
																																																																																																																																																																																																																																																																																																																																																																													<input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
																																																																																																																																																																																																																																																																																																																																																																										<button class="btn btn-outline-success" type="submit">Rechercher</button>
																																																																																																																																																																																																																																																																																																																																																																												</form> #}
		</div>
	</div>
</nav>
