<form method="post" action="{{ path('app_exercice_program_delete', {'id': exercice_program.id}) }}" onsubmit="return confirm('Etes vous sur de vouloir supprimer l'exercice du programme?');">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ exercice_program.id) }}">
	<button class="btn btn-danger mt-4">Supprimer</button>
</form>
