{% extends 'base.html.twig' %}

{% block title %}Modifier les exercices d'un programme
{% endblock %}

{% block body %}
	<div class="container mt-5 mb-5 p-5 bg-white" style="box-shadow: 1px 2px 8px 1px gray;">

		<h1 class="mb-5">Modifier les exercices d'un programme</h1>

		{{ include('exercice_program/_form.html.twig', {'button_label': 'Enregister'}) }}

		<a class="btn btn-dark" href="{{ path('app_exercice_program_index') }}">Retour à la liste</a>

		{{ include('exercice_program/_delete_form.html.twig') }}
	</div>
{% endblock %}
