{% extends 'base.html.twig' %}

{% block title %}ExerciceProgram index
{% endblock %}

{% block body %}
	<div class="container mt-5 mb-5 p-5 bg-white" style="box-shadow: 1px 2px 8px 1px gray;">

		<h1 class="mb-5">Liste des Exercices du Programe</h1>

		<table class="table">
			<thead>
				<tr>
					<th>Id</th>
					<th>Nombre de répétition</th>
					<th>Nombre de series</th>
					<th>Durée</th>
					<th>Position de l'exercice</th>
					{# <th>Created_at</th>
																																								<th>Updated_at</th> #}
					<th>actions</th>
				</tr>
			</thead>
			<tbody>
				{% for exercice_program in exercice_programs %}
					<tr>
						<td>{{ exercice_program.id }}</td>
						<td>{{ exercice_program.repetitionNumber }}</td>
						<td>{{ exercice_program.setNumber }}</td>
						<td>{{ exercice_program.duration }}</td>
						<td>{{ exercice_program.exercicePosition }}</td>
						{# <td>{{ exercice_program.createdAt ? exercice_program.createdAt|date('Y-m-d H:i:s') : '' }}</td>
																																										<td>{{ exercice_program.updatedAt ? exercice_program.updatedAt|date('Y-m-d H:i:s') : '' }}</td> #}
						<td>
							<a class="btn btn-outline-dark" href="{{ path('app_exercice_program_show', {'id': exercice_program.id}) }}">Consulter</a>
							<a class="btn btn-outline-dark" href="{{ path('app_exercice_program_edit', {'id': exercice_program.id}) }}">Modifier</a>
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="8">Aucun enregistrement trouvé</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

		<a class="btn btn-dark" href="{{ path('app_exercice_program_new') }}">Créer un nouveau</a>
	</div>
{% endblock %}
