{% extends 'base.html.twig' %}

{% block title %}ExerciceProgram
{% endblock %}

{% block body %}
	<div class="container mt-5 mb-5 p-5 bg-white" style="box-shadow: 1px 2px 8px 1px gray;">

		<h1>Exercice Programme</h1>

		<table class="table">
			<tbody>
				<tr>
					<th>Id</th>
					<td>{{ exercice_program.id }}</td>
				</tr>
				<tr>
					<th>RepetitionNumber</th>
					<td>{{ exercice_program.repetitionNumber }}</td>
				</tr>
				<tr>
					<th>SetNumber</th>
					<td>{{ exercice_program.setNumber }}</td>
				</tr>
				<tr>
					<th>Duration</th>
					<td>{{ exercice_program.duration }}</td>
				</tr>
				<tr>
					<th>ExercicePosition</th>
					<td>{{ exercice_program.exercicePosition }}</td>
				</tr>
				{# <tr>
																	<th>Created_at</th>
																	<td>{{ exercice_program.createdAt ? exercice_program.createdAt|date('Y-m-d H:i:s') : '' }}</td>
																</tr>
																<tr>
																	<th>Updated_at</th>
																	<td>{{ exercice_program.updatedAt ? exercice_program.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
																</tr> #}
			</tbody>
		</table>

		<a class="btn btn-dark" href="{{ path('app_exercice_program_index') }}">Retour à la liste</a>

		<a class="btn btn-dark" href="{{ path('app_exercice_program_edit', {'id': exercice_program.id}) }}">Modifier</a>

		{{ include('exercice_program/_delete_form.html.twig') }}
	</div>
{% endblock %}
