<form method="post" action="{{ path('app_exercice_delete', {'id': exercice.id}) }}" onsubmit="return confirm('Etes vous sur de vouloir supprimer l'exercice?');">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ exercice.id) }}">
	<button class="btn btn-danger mt-4">Supprimer</button>
</form>
