{% extends 'base.html.twig' %}

{% block title %}Edit Exercice
{% endblock %}

{% block body %}
	<div class="container mt-5 mb-5 p-5 bg-white" style="box-shadow: 1px 2px 8px 1px gray;">

		<h1 class="m-5">Modifier un Exercice</h1>

		{{ include('exercice/_form.html.twig', {'button_label': 'Update'}) }}

		<a class="btn btn-dark mt-5" href="{{ path('app_exercice_index') }}">Retour à la liste</a>

		{{ include('exercice/_delete_form.html.twig') }}
	</div>
{% endblock %}
