{% extends 'base.html.twig' %}

{% block title %}Liste des exercices
{% endblock %}

{% block body %}
	<div class="container mt-5 mb-5 p-5 bg-white" style="box-shadow: 1px 2px 8px 1px gray;">

		<h1 class="mb-5">Liste des exercices</h1>

		<table class="table">
			<thead>
				<tr>
					{# <th>Id</th> #}
					<th>Name</th>
					{# <th>Type</th> #}
					<th>Description</th>
					{# <th>Created_at</th>
																																																																																					<th>Updated_at</th> #}
					<th>actions</th>
				</tr>
			</thead>
			<tbody>
				{% for exercice in exercices %}
					<tr>
						{# <td>{{ exercice.id }}</td> #}
						<td>{{ exercice.name }}</td>
						{# <td>{{ exercice.type }}</td> #}
						<td>{{ exercice.description }}</td>
						{# <td>{{ exercice.createdAt ? exercice.createdAt|date('Y-m-d H:i:s') : '' }}</td>
																																																																																																						<td>{{ exercice.updatedAt ? exercice.updatedAt|date('Y-m-d H:i:s') : '' }}</td> #}
						<td>
							<a class="btn btn-dark" href="{{ path('app_exercice_show', {'id': exercice.id}) }}">Consulter</a>
							<a class="btn btn-dark" href="{{ path('app_exercice_edit', {'id': exercice.id}) }}">Modifier</a>
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="7">Aucun exercice trouvé</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

		<a class="btn btn-dark" href="{{ path('app_exercice_new') }}">Créer un nouvel exercice</a>
	</div>
{% endblock %}
