{% extends 'base.html.twig' %}

{% block title %}New Exercice
{% endblock %}

{% block body %}
	<div class="container  mt-5 mb-5 p-5 bg-white" style="box-shadow: 1px 2px 8px 1px gray;">

		<h1 class="mb-5">Créer un exercice</h1>

		{{ include('exercice/_form.html.twig') }}

		{% if is_granted("ROLE_ADMIN") %}
			<a class="btn btn-dark mt-5" style="width:150px;" href="{{ path('app_exercice_index') }}">Retour à la liste</a>
		{% else %}
			<a class="btn btn-dark" href="{{ path('app_exercice_program_index') }}">Retour aux programmes</a>
		{% endif %}
	</div>
{% endblock %}
