{% extends 'base.html.twig' %}

{% block title %}Exercice
{% endblock %}

{% block body %}
	<div class="container mt-5 mb-5 p-5 bg-white" style="box-shadow: 1px 2px 8px 1px gray;">

		<h1 class="mb-5">Exercice</h1>

		<table class="table">
			<tbody>
				<tr>
					<th>Id</th>
					<td>{{ exercice.id }}</td>
				</tr>
				<tr>
					<th>Name</th>
					<td>{{ exercice.name }}</td>
				</tr>
				<tr>
					<th>Type</th>
					<td>{{ exercice.type }}</td>
				</tr>
				<tr>
					<th>Description</th>
					<td>{{ exercice.description }}</td>
				</tr>
				<tr>
					<th>Created_at</th>
					<td>{{ exercice.createdAt ? exercice.createdAt|date('Y-m-d H:i:s') : '' }}</td>
				</tr>
				<tr>
					<th>Updated_at</th>
					<td>{{ exercice.updatedAt ? exercice.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
				</tr>
			</tbody>
		</table>

		<a class="btn btn-dark" href="{{ path('app_exercice_index') }}">Retour à la liste</a>

		<a class="btn btn-dark" href="{{ path('app_exercice_edit', {'id': exercice.id}) }}">Modifier</a>

		{{ include('exercice/_delete_form.html.twig') }}
	</div>
{% endblock %}
