{% extends 'base.html.twig' %}

{% block title %}Edit User
{% endblock %}

{% block body %}
	<div class="container mt-5 mb-5 p-5 bg-white" style="box-shadow: 1px 2px 8px 1px gray;">

		<h1 class="mb-5">Modifier un Utilisateur</h1>

		{{ include('user/_form.html.twig', {'button_label': 'Enregister'}) }}

		<a class="btn btn-dark mt-4" href="{{ path('app_user_index') }}">Retour à la liste</a>

		{{ include('user/_delete_form.html.twig') }}
	</div>
{% endblock %}
