{% extends 'base.html.twig' %}

{% block title %}User index
{% endblock %}

{% block body %}

	<div class="container mt-5 mb-5 p-5 bg-white" style="box-shadow: 1px 2px 8px 1px gray;">

		<h1 class="mb-5">Liste des Utilisateurs</h1>

		<table class="table">
			<thead>
				<tr>
					{# <th>Id</th> #}
					<th>Nom</th>
					<th>Prénom</th>
					<th>Télephone</th>
					<th>Email</th>
					{# <th>Created_at</th>
																																																																																																				<th>Updated_at</th> #}
					{# <th>Roles</th> #}
					{# <th>Password</th> #}
						<th>
					actions
				</th>
			</tr>
			</thead>
				<tbody>
					{% for user in users %}
						<tr>
						{# <td>
																																																												{{ user.id }}
																																																												</td> #}
							<td>
						{{ user.lastname }}
						</td>
							<td>
						{{ user.firstname }}
						</td>
							<td>
						{{ user.phone }}
						</td>
							<td>
						{{ user.email }}
						</td>
						{# <td>{{ user.createdAt ? user.createdAt|date('Y-m-d H:i:s') : '' }}</td>
																																																																																																																									                <td>{{ user.updatedAt ? user.updatedAt|date('Y-m-d H:i:s') : '' }}</td> #}
						{# <td>{{ user.roles ? user.roles|json_encode : '' }}</td> #}
						{# <td>{{ user.password }}</td> #}
							<td>
								<a class="btn btn-outline-dark" href="{{ path('app_user_show', {'id': user.id}) }}"> Consulter</a>
							<a class="btn btn-outline-dark" href="{{ path('app_user_edit', {'id': user.id}) }}">Modifier</a>
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="10">Aucun utilisateur trouver</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

		<a class="btn btn-dark me-2 mt-3" href="{{ path('app_user_new') }}">Créer un nouvel utilisateur</a>
	</div>
{% endblock %}
