{% extends 'base.html.twig' %}

{% block title %}Nouvel Utilisateur
{% endblock %}

{% block body %}
	<div class="container mt-5 mb-5 p-5 bg-white" style="box-shadow: 1px 2px 8px 1px gray;">
		<h1 class="mb-5">Créez un compte</h1>
		{{ include('user/_form.html.twig') }}
		<a class="btn btn-dark me-2" style="width:150px;" href="{{ path('app_user_index') }}">Retour à la liste</a>
	</div>
{% endblock %}
