{% extends 'base.html.twig' %}

{% block title %}Profil
{% endblock %}

{% block body %}

	<div class="container mt-5 mb-5 p-5 bg-white" style="box-shadow: 1px 2px 8px 1px gray;">
		<h3 class="text-center" style="color:black;">Profil de
			{{ app.user.lastname }}
			{{ app.user.firstname }}</h3><br>
		<div class="container mb-3 p-5" style="box-shadow: 1px 2px 8px 1px gray;">

			<div class="row  mb-3">
				<div class='col-2'>
					<b>Nom :</b>
				</div>
				<div class="col-3">
					<b>{{ app.user.lastname}}</b>
				</div>
			</div>
			<div class="row mb-3">
				<div class='col-2'>
					<b>Prénom :</b>
				</b>
			</div>
			<div class="col-3">
				<b>{{ app.user.firstname}}</b>
			</div>
		</div>
		<div class="row mb-5">
			<div class='col-2'>
				<b>Email :</b>
			</div>
			<div class="col-3">
				<b>{{ app.user.Email}}</b>
			</div>
		</div>

		<div
			class="row mb-3 ">
			{# {% if app.user == app_adherent %} #}
			<a type="button" class="btn btn-dark" style="width:300px;" href="{{ path('app_user_edit', {'id': app.user.id}) }}">Modifier Mon Profil</a>

			{# <a class="btn btn-primary" href="#">Modifier mon mot de Passe</a>
																																																																																																																																																																																																																																																																								<a class="btn btn-primary" href="#">Suprimer mon Profil</a> #}
		{# {% elseif app.user == app_satff_personnel %} #}
			{# <a type="button" class="btn btn-primary" style="width:150px;" href="{{ path('app_staff_personnel_edit', {'id': staffPersonnel.id}) }}">Modifier Mon Profil</a> #}
			{# {% elseif app.user == app_user %} #}
			{# <a type="button" class="btn btn-primary" style="width:150px;" href="{{ path('app_user_edit', {'id': user.id}) }}">Modifier Mon Profil</a> #}

			{# {% endif %} #}
		</div>
	</div>

	{# <div class="row">
																																																																																																																																																																																																																																				<div class="col">
																																																																																																																																																																																																																																					<h1 class="text-center mb-3">Adhérent :
																																																																																																																																																																																																																																						{{ adherent.nom }}
																																																																																																																																																																																																																																						{{ adherent.prenom }}</h1>
																																																																																																																																																																																																																																				</div>
																																																																																																																																																																																																																																				<div class="col">
																																																																																																																																																																																																																																					<img class="img-fluid" src="{{ asset('uploads/' ~ adherent.photo) }}" class="card-img-top" alt="{{ adherent.photo}}" style="width:12rem ; height:12rem">
																																																																																																																																																																																																																																				</div>
																																																																																																																																																																																																																																			</div>
																																																																																																																																																																																																																																	
																																																																																																																																																																																																																																			<table class="table">
																																																																																																																																																																																																																																				<tbody>
																																																																																																																																																																																																																																					<tr>
																																																																																																																																																																																																																																						<th>Nom</th>
																																																																																																																																																																																																																																						<td>{{ adherent.nom }}</td>
																																																																																																																																																																																																																																					</tr>
																																																																																																																																																																																																																																					<tr>
																																																																																																																																																																																																																																						<th>Prénom</th>
																																																																																																																																																																																																																																						<td>{{ adherent.prenom }}</td>
																																																																																																																																																																																																																																					</tr>
																																																																																																																																																																																																																																					<tr>
																																																																																																																																																																																																																																						<th>Tél</th>
																																																																																																																																																																																																																																						<td>{{ adherent.tel }}</td>
																																																																																																																																																																																																																																					</tr>
																																																																																																																																																																																																																																					<tr>
																																																																																																																																																																																																																																						<th>Mail</th>
																																																																																																																																																																																																																																						<td>{{ adherent.mail }}</td>
																																																																																																																																																																																																																																					</tr> #}
{# <tr>
																																																																																																																																																														<th>Id</th>
																																																																																																																																																														<td>{{ adherent.id }}</td>
																																																																																																																																																													</tr> #}
	{# <tr>
																																																																																																																																																																																																																																						<th>Date Naissance</th>
																																																																																																																																																																																																																																						<td>{{ adherent.dateNaiss ? adherent.dateNaiss|date('Y-m-d') : '' }}</td>
																																																																																																																																																																																																																																					</tr>
																																																																																																																																																																																																																																					<tr>
																																																																																																																																																																																																																																						<th>Lieu Naissance</th>
																																																																																																																																																																																																																																						<td>{{ adherent.lieuNaiss }}</td>
																																																																																																																																																																																																																																					</tr>
																																																																																																																																																																																																																																					<tr>
																																																																																																																																																																																																																																						<th>Adresse</th>
																																																																																																																																																																																																																																						<td>{{ adherent.adresse }}</td>
																																																																																																																																																																																																																																					</tr>
																																																																																																																																																																																																																																					<tr>
																																																																																																																																																																																																																																						<th>Ville</th>
																																																																																																																																																																																																																																						<td>{{ adherent.ville }}</td>
																																																																																																																																																																																																																																					</tr>
																																																																																																																																																																																																																																					<tr>
																																																																																																																																																																																																																																						<th>Code Postal</th>
																																																																																																																																																																																																																																						<td>{{ adherent.cp }}</td>
																																																																																																																																																																																																																																					</tr> #}
	{# <tr>
																																																																																																																																																																																																																																																																						<th>Mot de Passe</th>
																																																																																																																																																																																																																																																																						<td>{{ adherent.mdp }}</td>
																																																																																																																																																																																																																																																																					</tr> #}
	{# <tr><th>Nationalité
																																																																																																																																																																																																																																		</th><td>{{ adherent.nationalite }}
																																																																																																																																																																																																																																	</td>
																																																																																																																																																																																																																																	</tr>
																																																																																																																																																																																																																																		<tr><th>Taille
																																																																																																																																																																																																																																		</th><td>{{ adherent.taille }}
																																																																																																																																																																																																																																	</td>
																																																																																																																																																																																																																																	</tr>
																																																																																																																																																																																																																																		<tr><th>Pointure
																																																																																																																																																																																																																																		</th><td>{{ adherent.pointure }}
																																																																																																																																																																																																																																	</td>
																																																																																																																																																																																																																																	</tr>
																																																																																																																																																																																																																																		<tr><th>Photo
																																																																																																																																																																																																																																		</th><td>{{ adherent.photo }}
																																																																																																																																																																																																																																	</td>
																																																																																																																																																																																																																																	</tr>
																																																																																																																																																																																																																																		<tr><th>AutoParticipation
																																																																																																																																																																																																																																		</th><td>{{ adherent.autoParticipation ? 'Yes' : 'No' }}
																																																																																																																																																																																																																																	</td>
																																																																																																																																																																																																																																	</tr>
																																																																																																																																																																																																																																		<tr><th>AutoEncadrement
																																																																																																																																																																																																																																		</th><td>{{ adherent.autoEncadrement ? 'Yes' : 'No' }}
																																																																																																																																																																																																																																	</td>
																																																																																																																																																																																																																																	</tr>
																																																																																																																																																																																																																																		<tr><th>AutoSortie
																																																																																																																																																																																																																																		</th><td>{{ adherent.autoSortie ? 'Yes' : 'No' }}
																																																																																																																																																																																																																																	</td>
																																																																																																																																																																																																																																	</tr>
																																																																																																																																																																																																																																		<tr><th>AutoImage
																																																																																																																																																																																																																																		</th><td>{{ adherent.autoImage ? 'Yes' : 'No' }}
																																																																																																																																																																																																																																	</td>
																																																																																																																																																																																																																																	</tr>
																																																																																																																																																																																																																																		<tr><th>AutoCNILFRR
																																																																																																																																																																																																																																		</th><td>{{ adherent.autoCNILFRR ? 'Yes' : 'No' }}
																																																																																																																																																																																																																																	</td>
																																																																																																																																																																																																																																	</tr>
																																																																																																																																																																																																																																		<tr><th>Catégorie
																																																																																																																																																																																																																																		</th><td>{{ adherent.categorie.nomCat }}
																																																																																																																																																																																																																																	</td>
																																																																																																																																																																																																																																	</tr>
																																																																																																																																																																																																																																		<tr><th>Parent legal 1
																																																																																																																																																																																																																																		</th><td>
																																																																																																																																																																																																																																			{{ adherent.parent1.nom }}{{ adherent.parent1.prenom }}
																																																																																																																																																																																																																																	</td>
																																																																																																																																																																																																																																	</tr>
																																																																																																																																																																																																																																		<tr><th>Parent legal 2
																																																																																																																																																																																																																																		</th><td>
																																																																																																																																																																																																																																			{{ adherent.parent2.nom }}{{ adherent.parent2.prenom }}
																																																																																																																																																																																																																																	</td>
																																																																																																																																																																																																																																	</tr> #}

	{# <tr><th>Personne à contacter
																																																																																																																																																																																																																																		</th><td>
																																																																																																																																																																																																																																			{{ adherent.personneConts.nom }}
																																																																																																																																																																																																																																		{{ adherent.personneConts.prenom }}
																																																																																																																																																																																																																																	</td>
																																																																																																																																																																																																																																	</tr>
																																																																																																																																																																																																																																		<tr><th>medecin traitant
																																																																																																																																																																																																																																		</th><td>
																																																																																																																																																																																																																																			{{ adherent.medecinTraitant.nom }}{{ adherent.medecinTraitant.prenom }}
																																																																																																																																																																																																																																	</td>
																																																																																																																																																																																																																																</tr> #}
	{# <tr>
																																																																																																																																																																																																																																																																						<th>Règlement</th>
																																																																																																																																																																																																																																																																						<td>{{ adherent.reglement }}</td>
																																																																																																																																																																																																																																																																					</tr> #}
	{# </tbody>
																																																																																																																																																																																																																																		</table> #}
	{# <a type="button" class="btn btn-primary" style="width:150px;" href="{{ path('app_adherent_index') }}">Retour à la liste</a> #}
	{# <a type="button" class="btn btn-primary" style="width:150px;" href="{{ path('app_adherent_edit', {'id': adherent.id}) }}">Modifier</a>
																																																																																																																																																																																																																																			{{ include('adherent/_delete_form.html.twig') }} #}
</div></div>{% endblock %}
