{% extends 'base.html.twig' %}

{% block title %}User
{% endblock %}

{% block body %}
	<div class="container mt-5 mb-5 p-5 bg-white" style="box-shadow: 1px 2px 8px 1px gray;">

		<h1 class="mb-4">Utilisateur</h1>

		<table class="table">
			<tbody>
				{# <tr>
																																																<th>Id</th>
																																																<td>{{ user.id }}</td>
																																															</tr> #}
				<tr>
					<th>Nom</th>
					<td>{{ user.lastname }}</td>
				</tr>
				<tr>
					<th>Prénom</th>
					<td>{{ user.firstname }}</td>
				</tr>
				<tr>
					<th>Téléphone</th>
					<td>{{ user.phone }}</td>
				</tr>
				<tr>
					<th>Email</th>
					<td>{{ user.email }}</td>
				</tr>
				{# <tr>
																																													<th>Created_at</th>
																																													<td>{{ user.createdAt ? user.createdAt|date('Y-m-d H:i:s') : '' }}</td>
																																												</tr>
																																												<tr>
																																													<th>Updated_at</th>
																																													<td>{{ user.updatedAt ? user.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
																																												</tr>
																																												<tr>
																																													<th>Roles</th>
																																													<td>{{ user.roles ? user.roles|json_encode : '' }}</td>
																																												</tr> #}
				{# <tr>
													<th>Password</th>
													<td>{{ user.password }}</td>
												</tr> #}
			</tbody>
		</table>

		<a class="btn btn-dark" href="{{ path('app_user_index') }}">Retour à la liste</a>

		<a class="btn btn-dark" href="{{ path('app_user_edit', {'id': user.id}) }}">Modifier</a>

		{{ include('user/_delete_form.html.twig') }}
	</div>
{% endblock %}
